* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5)50%, rgba(0, 0, 0, 0.5)50%), url(../images/s.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}

.navbar {
    width: auto;
    height: 75px;
    margin: auto;
}

.icon {
    width: 150px;
    height: 70px;
    float: left;
}

.logo {
    color: #ff7200;
    font-size: 30px;
    font-family: Arial;
    padding-left: 10px;
    float: left;
    padding-top: 10px;
}

.menu {
    width: 300px;
    height: 70px;
    float: left;
}

ul {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li {
    list-style: none;
    margin-left: 10px;
    margin-top: 20px;
    font-size: 12px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #ff7200;
}

.search {
    width: 200px;
    float: left;
    margin-left: 5px;
}

.srch {
    font-family: 'Times New Roman', Times, serif;
    width: 140px;
    height: 30px;
    background: transparent;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    float: left;
    border-radius: 2px;
}

.btn {
    width: 50px;
    height: 30px;
    background: #ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    color: #fff;
    font-size: 10px;
    margin-left: 5px;
    border-radius: 2px;
}

.btn:focus {
    outline: none;
}

.srch:focus {
    outline: none;
}

.content {
    width: auto;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par {
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 16px;
    margin-top: 5px;
    font-size: 8px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
}

.content .cn {
    width: 90px;
    height: 30px;
    background: #ff7200;
    border: none;
    margin-bottom: 10px;
    margin-left: 15px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ff7200;
    font-size: 25px;
}

.form {
    width: 150px;
    height: auto;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8)50%, rgba(0, 0, 0, 0.8)50%);
    position: absolute;
    top: -20px;
    left: 470px;
    border-radius: 10px;
    padding: 20px;
}

.form h2 {
    width: 140px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7200;
    font-size: 22px;
    background: #fff;
    border-radius: 10px;
    margin: 1px;
    padding: 5px;
}

.form input {
    width: 150px;
    height: 20px;
    background: transparent;
    border-bottom: 1px solid #ff7200;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font: 10px;
    letter-spacing: 1px;
    margin-top: 25px;
    font-family: sans-serif;
}

.form input:focus {
    outline: none;
}

 ::placeholder {
    color: #fff;
    font-family: Arial;
}

.btnn {
    width: 150px;
    height: 24px;
    background: #ff7200;
    border: none;
    margin-top: 10px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}

.btnn:hover {
    background: #fff;
    color: #ff7200;
}

.btnn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.form .link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-top: 8px;
    text-align: center;
}

.form .link a {
    text-decoration: none;
    color: #ff7200;
}

.liw {
    padding-top: 8px;
    padding-bottom: 5px;
    text-align: center;
}

.icons a {
    text-decoration: none;
    color: #fff;
}

.icons ul {
    height: 3px;
    margin-bottom: 5px;
}

.icons ul li {
    list-style: none;
    margin-left: 8px;
    margin-top: 16px;
    font-size: 8px;
}